<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


    <!-- Global CORS Filter -->
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>filter.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/api/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/api/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BorrowServlet</servlet-name>
        <servlet-class>servlet.BorrowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/api/borrow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/users</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>BorrowHistoryServlet</servlet-name>-->
<!--        <servlet-class>servlet.BorrowHistoryServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>BorrowHistoryServlet</servlet-name>-->
<!--        <url-pattern>/api/history</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestConnectionServlet</servlet-name>
        <servlet-class>servlet.TestConnectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestConnectionServlet</servlet-name>
        <url-pattern>/test-db</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>util.AppContextListener</listener-class>
    </listener>


</web-app>
